@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
}

.word-block {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.word {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.button-block {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
}

img {
  width: 48px;
  height: 48px;
  border-radius: 26px;
  padding: 4px;
}

img:hover {
  background-color: lightgray;
}

img:active {
  background-color: darkgray;
}
